.bg-cover {
            background-image: url("img/bg_cover.png");
        }
        .logo-profile {
            max-width: 400px;
            height: 100px;
        }
        .center-layout {
            margin: auto;
            padding: 10px;
        }
        .button-layout {
            font-size: 30px;
            font-family: Tahoma;
            margin: 5px;
            padding: 5px;
            background: #FFB9B9;
            width: 200px;
            border-radius: 20px;
            text-align: center;
        }
        .py-5px {
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .p-3px {
            padding: 3px;
        }
        .my-3px {
            margin-top: 3px;
            margin-bottom: 3px;
        }
        .m-2px {
            margin: 2px;
        }
        .img-w-pct-100 {
            width: 100%;
        }
        .img-h-pct-25 {
            height: 25%;
        }
        .font-arial {
            font-family: Arial;
        }
        .font-helvetica {
            font-family: Helvetica;
        }
        .font-verdana {
            font-family: Verdana;
        }
        .txt-start {
            text-align: start;
        }
        .txt-center {
            text-align: center;
        }
        .txt-50 {
            font-size: 50px;
        }
        .txt-35 {
            font-size: 35px;
        }
        .txt-30 {
            font-size: 30px;
        }
        .txt-18 {
            font-size:18px;
        }
        .img-profile {
            max-width: 100%;
            height: auto;
        }
        .img-card {
            display:block;
            margin:auto;
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }
        .img-icon {
            width:100;
            height:100;
            display:block;
            margin:auto;
        }
        @media only screen and (max-width: 500px) {
            .img-icon {
                width:50;
                height:50;
            }
            .img-profile {
                max-width: 80%;
                height: 80%;
                margin-top: 30px;
            }
            .py-5px {
                padding-top: 3px;
                padding-bottom: 3px;
            }
            .my-3px {
                margin-top: 1px;
                margin-bottom: 1px;
            }
            .img-w-pct-100 {
                width: 90%;
            }
            .img-h-pct-25 {
                height: 20%;
            }
            .txt-50 {
                font-size: 30px;
            }
            .txt-35 {
                font-size: 25px;
            }
            .txt-30 {
                font-size: 16px;
            }
            .txt-18 {
                font-size:12px;
            }
            .button-layout {
                font-size: 18px;
                margin: 3px;
                padding: 3px;
                width: 100px;
                border-radius: 10px;
            }
        }