a {text-decoration: none;}.txt-20 {
            font-size:20px;
        }
        .txt-25 {
            font-size:25px;
        }
        .txt-30 {
            font-size:30px;
        }
        .txt-40 {
            font-size:40px;
        }
        .txt-20 text-white {
            font-size:20px;
            color: white;
        }
        .title-40 {
            font-size: 40px;
        }
        .title-30 {
            font-size: 30px;
        }
        @media only screen and (max-width: 300px) {
            .txt-20 {
                font-size:10px;
            }
            .txt-25 {
                font-size:12px;
            }
            .txt-30 {
                font-size:15px;
            }
            .txt-40 {
                font-size:20px;
            }
            .title-40 {
                font-size: 15px;
            }
            .title-30 {
                font-size: 10px;
            }
        }
        @media only screen and (max-width: 500px) {
            .txt-20 {
                font-size:15px;
            }
            .txt-25 {
                font-size:20px;
            }
            .txt-30 {
                font-size:25px;
            }
            .txt-40 {
                font-size:35px;
            }
            .title-40 {
                font-size: 25px;
            }
            .title-30 {
                font-size: 20px;
            }
        }
        @media only screen and (max-width: 1000px) {
            .txt-20 {
                font-size:18px;
            }
            .txt-25 {
                font-size:23px;
            }
            .txt-30 {
                font-size:28px;
            }
            .txt-40 {
                font-size:38px;
            }
            .title-40 {
                font-size: 30px;
            }
            .title-30 {
                font-size: 25px;
            }
        }